<div>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Перший запит">
            <app-post-office-query></app-post-office-query>
        </mat-tab>
        <mat-tab label="Другий запит">
            <app-service-query></app-service-query>
        </mat-tab>
        <mat-tab label="Третій запит">
            <app-transport-query></app-transport-query>
        </mat-tab>
        <mat-tab label="Четвертий запит">
            <app-client-query></app-client-query>
        </mat-tab>
        <mat-tab label="П'ятий запит">
            <app-employee-query></app-employee-query>
        </mat-tab>
        <mat-tab label="Шостий запит">
            <app-delivery-query></app-delivery-query>
        </mat-tab>
        <mat-tab label="Сьомий запит">
            <app-archive-query></app-archive-query>
        </mat-tab>
        <mat-tab label="Восьмий запит">
            <app-city-query></app-city-query>
        </mat-tab>
        <mat-tab label="Дев'ятий запис">
            <app-custom-query></app-custom-query>
        </mat-tab>
    </mat-tab-group>
</div>