@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html, body { 
    height: 100vh; 
}

body { 
    margin: 0;
    font-family: 'Quicksand', sans-serif;;
    background-color: rgb(221, 221, 221);
}
