<div class="tables-body">
    <div class="table-selector">
        <mat-form-field appearance="fill">
            <mat-label>Оберіть таблицю</mat-label>
            <mat-select [(ngModel)]="selectedValue"
                        name="table">
                <mat-option *ngFor="let table of tables" 
                            [value]="table.query">
                    {{table.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button
                color="primary"
                (click)="getTable(selectedValue)">Отримати таблицю</button>
        <button *ngIf="displayTable"
                mat-raised-button
                color="primary"
                (click)="addRecord(selectedValue)">Добавити запис</button>
    </div>
    <div class="table">
        <table *ngIf="displayTable" 
                mat-table 
                [dataSource]="sourceData">
            <ng-container matColumnDef="{{el.name}}"
                          *ngFor="let el of keysObj">
                <th mat-header-cell 
                    *matHeaderCellDef> {{ el.title }} </th>
                <td mat-cell *matCellDef="let element"> {{ element[el.name] }} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cel
                    *matHeaderCellDef> Дії </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="editRecord(selectedValue, element, edit)">edit</mat-icon>    
                    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deleteRecord(selectedValue, element)">delete</mat-icon>    
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="coloumnsDef"></tr>
            <tr mat-row *matRowDef="let row; columns: coloumnsDef;"></tr>
        </table>
    </div>
</div>
